* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEEBF8;
}

#root {
    box-shadow: 2px 2px 30px 2px rgb(173, 171, 171);
    min-width: 500px;
    min-height: 500px;
    background: #282D35;
}

nav {
    background: #21222A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
}

nav.light {
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.title > img {
    margin-right: 20px;
    width: 40px;
}

.title-nav {
    color: #61DAFB;
    font-weight: 700;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 15px;
    font-weight: 500;
}

.toggler-slider {
    width: 30px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    box-sizing: content-box;
}

nav.light .toggler-slider {
    background-color: white;
    border: 2px solid black;
}

.toggler-slider-circle {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
}

nav.light .toggler-slider-circle {
    background-color: white;
    border-color: black;
}

.toggler-light {
    color: #D5D4D8;
}

nav.light .toggler-light {
    color: #918E9B;
}

.toggler-dark {
    color: #D5D4D8;
}

nav.light .toggler-dark {
    color: #918E9B;
}

nav.light .toggler-slider {
    justify-content: flex-end;
}


main {
    padding: 60px 30px;
    color: white;
    margin: 0;
    background: #282D35;
    background-image: url(./src/assets/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right center;
}

main.light {
    background-image: url("/src/assets/react-icon-light.png"); 
    background-color: white;
    color: black;    
}

main h1 {
    font-size: 39px;
    margin: 0;
}

main ul {
    margin-top: 50px;
}

main li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-block: 10px;
}

main li::marker {
    color: #DEEBF8;
    font-size: 1.4rem;
}

main.light li::marker {
    color: rgb(82, 80, 80);
    font-size: 1.4rem;
}
